# JBI100 Visualization 
### Academic year 2025-2026

## Health and Global Statistics
Data sources:

- Hospital Beds Management (https://www.kaggle.com/datasets/jaderz/hospital-beds-management/data)
- CIA Global Statistical Database (https://www.kaggle.com/datasets/kushagraarya10/cia-global-statistical-database)

Data dictionaries and additional info can be found in the respective data folders.
Note: you only need to select one dataset for your project; the dataset that you choose consists of multiple CSV files.

In [7]:
# Import libraries
import pandas as pd
#import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image
import os
#import plotly.io as pio

# Render plotly in IFrame
#pio.renderers.default = 'iframe'

# Do not truncate tables
pd.set_option('display.max_columns', None)

# If you receive a 'ModuleNotFoundError' please install the according library. 
# This can be done from within the Jupyter environment with the command 
#'!python -m pip install lib' where lib is the according library name.

In [8]:
# Load the data

# Hospital Beds Management
df_HBM_patients        = pd.read_csv('../Hospital Beds Management/patients.csv', delimiter=',', low_memory=False)
df_HBM_staff           = pd.read_csv('../Hospital Beds Management/staff.csv', delimiter=',', low_memory=False)
df_HBM_staff_schedule  = pd.read_csv('../Hospital Beds Management/staff_schedule.csv', delimiter=',', low_memory=False)
df_HBM_services_weekly = pd.read_csv('../Hospital Beds Management/services_weekly.csv', delimiter=',', low_memory=False)

# # CIA Global Statistical Database
# df_CIA_communications        = pd.read_csv('../CIA Global Statistical Database/communications_data.csv', delimiter=',', low_memory=False)
# df_CIA_demographics          = pd.read_csv('../CIA Global Statistical Database/demographics_data.csv', delimiter=',', low_memory=False)
# df_CIA_economy               = pd.read_csv('../CIA Global Statistical Database/economy_data.csv', delimiter=',', low_memory=False)
# df_CIA_energy                = pd.read_csv('../CIA Global Statistical Database/energy_data.csv', delimiter=',', low_memory=False)
# df_CIA_geography             = pd.read_csv('../CIA Global Statistical Database/geography_data.csv', delimiter=',', low_memory=False)
# df_CIA_government_and_civics = pd.read_csv('../CIA Global Statistical Database/government_and_civics_data.csv', delimiter=',', low_memory=False)
# df_CIA_transportation        = pd.read_csv('../CIA Global Statistical Database/transportation_data.csv', delimiter=',', low_memory=False)

## Explore Hospital Beds Management

In [9]:
df_HBM_patients.sample(5)

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
121,PAT-55170e9d,Susan Serrano,28,2025-10-15,2025-10-17,general_medicine,73
873,PAT-94aeadf6,Sean Curtis,84,2025-02-25,2025-03-03,emergency,81
705,PAT-8718ccfc,Anna Estes,42,2025-10-17,2025-10-25,ICU,70
693,PAT-5f036208,Rodney Williams,52,2025-11-11,2025-11-17,general_medicine,80
320,PAT-553b6a48,Maria Henderson,21,2025-07-08,2025-07-09,general_medicine,62

In [10]:
df_HBM_patients.describe()

               age  satisfaction
count  1000.000000   1000.000000
mean     45.337000     79.597000
std      25.999912     11.550325
min       0.000000     60.000000
25%      23.000000     70.000000
50%      46.000000     80.000000
75%      68.000000     89.250000
max      89.000000     99.000000

--------------------

Data quality & issues (Preprocessing)
-----

----------------

Missing values
-------

In [11]:
#We dont have any missing values

import pandas as pd

dfs = {
    "patients": df_HBM_patients,
    "staff": df_HBM_staff,
    "staff_schedule": df_HBM_staff_schedule,
    "services_weekly": df_HBM_services_weekly
}

missing_reports = {}
for name, df in dfs.items():
    missing_count = df.isna().sum()
    missing_pct = (df.isna().mean() * 100).round(2)
    report = pd.DataFrame({"missing_count": missing_count, "missing_pct": missing_pct})
    report = report[report.missing_count > 0].sort_values("missing_count", ascending=False)
    missing_reports[name] = report

for name, rep in missing_reports.items():
    print(f"\n {name.upper()} — Missing values ")
    display(rep if len(rep) else pd.DataFrame({"message": ["No missing values found."]}))

 PATIENTS — Missing values

                    message
0  No missing values found.

 STAFF — Missing values

                    message
0  No missing values found.

 STAFF_SCHEDULE — Missing values

                    message
0  No missing values found.

 SERVICES_WEEKLY — Missing values

                    message
0  No missing values found.

-------------------

Outliers 
--------

In [12]:
#Only numeric columns can have statistical outliers.
#The only file that contains outliers is the services_weekly. 
#The total affected rows are 15. We are not gonna delete them cause then the data may not be realistic.

import numpy as np
import pandas as pd


def outliers_iqr(df, k=1.5):
    
    num_cols = df.select_dtypes(include="number").columns
    if len(num_cols) == 0:
        return pd.DataFrame(), pd.Series(dtype=int)
    
    
    Q1 = df[num_cols].quantile(0.25)
    Q3 = df[num_cols].quantile(0.75)
    IQR = Q3 - Q1
    
    
    mask = (df[num_cols] < (Q1 - k*IQR)) | (df[num_cols] > (Q3 + k*IQR))
    out_rows = df[mask.any(axis=1)]
    out_counts = mask.sum().sort_values(ascending=False)
    return out_rows, out_counts

for name, df in dfs.items():
    out_rows, out_counts = outliers_iqr(df)
    print(f"\n {name.upper()} — Outliers (IQR)")
    print("Outlier count by column:")
    display(out_counts.head(20) if len(out_counts) else pd.DataFrame({"message": ["No numeric columns."]}))
    print(f"Total outlier rows: {len(out_rows)}")
    display(out_rows.head(10))

 PATIENTS — Outliers (IQR)
Outlier count by column:

age             0
satisfaction    0
dtype: int64

Total outlier rows: 0

Empty DataFrame
Columns: [patient_id, name, age, arrival_date, departure_date, service, satisfaction]
Index: []

 STAFF — Outliers (IQR)
Outlier count by column:

               message
0  No numeric columns.

Total outlier rows: 0

Empty DataFrame
Columns: []
Index: []

 STAFF_SCHEDULE — Outliers (IQR)
Outlier count by column:

week       0
present    0
dtype: int64

Total outlier rows: 0

Empty DataFrame
Columns: [week, staff_id, staff_name, role, service, present]
Index: []

 SERVICES_WEEKLY — Outliers (IQR)
Outlier count by column:

patients_refused        14
patients_request        10
patients_admitted        2
available_beds           1
week                     0
month                    0
patient_satisfaction     0
staff_morale             0
dtype: int64

Total outlier rows: 15

,week,month,service,available_beds,patients_request,patients_admitted,patients_refused,patient_satisfaction,staff_morale,event
2,1,1,general_medicine,37,201,37,164,97,43,flu
4,2,1,emergency,28,169,28,141,75,64,none
6,2,1,general_medicine,43,183,43,140,73,93,flu
8,3,1,emergency,32,177,32,145,73,58,flu
16,5,2,emergency,25,388,25,363,93,72,flu
20,6,2,emergency,34,198,34,164,72,76,flu
22,6,2,general_medicine,69,90,69,21,72,81,none
28,8,2,emergency,26,240,26,214,96,75,flu
44,12,3,emergency,28,347,28,319,68,83,flu
168,43,11,emergency,21,171,21,150,70,79,none

------------

Errors 
-----

In [13]:
#We dont have any negative numerical values.

import pandas as pd
import numpy as np

for name, df in dfs.items():
    print(f"\n {name.upper()} — Generic errors")
    
    # negative numeric values
    num_cols = df.select_dtypes(include="number").columns
    if len(num_cols):
        neg_mask = (df[num_cols] < 0)
        neg_rows = df[neg_mask.any(axis=1)]
        print(f"Rows with negative numeric values: {len(neg_rows)}")
        display(neg_rows.head(10))
    else:
        print("No numeric columns to check negatives.")

 PATIENTS — Generic errors
Rows with negative numeric values: 0

Empty DataFrame
Columns: [patient_id, name, age, arrival_date, departure_date, service, satisfaction]
Index: []

 STAFF — Generic errors
No numeric columns to check negatives.

 STAFF_SCHEDULE — Generic errors
Rows with negative numeric values: 0

Empty DataFrame
Columns: [week, staff_id, staff_name, role, service, present]
Index: []

 SERVICES_WEEKLY — Generic errors
Rows with negative numeric values: 0

Empty DataFrame
Columns: [week, month, service, available_beds, patients_request, patients_admitted, patients_refused, patient_satisfaction, staff_morale, event]
Index: []

------------

Duplicates
-------

In [14]:
#We dont have any duplicates

import pandas as pd

for name, df in dfs.items():
    print(f"\n {name.upper()} — Duplicates")
    
    dup_all = df[df.duplicated(keep=False)]
    print(f"Exact duplicate rows: {len(dup_all)}")
    display(dup_all.head(10))
    
    # also check duplicates for likely ID columns
    id_cols = [c for c in df.columns if c.lower().endswith("_id")]
    if id_cols:
        for c in id_cols:
            dup_id = df[df.duplicated(subset=[c], keep=False)]
            print(f"Duplicate by {c}: {len(dup_id)}")
            display(dup_id.head(10))

 PATIENTS — Duplicates
Exact duplicate rows: 0

Empty DataFrame
Columns: [patient_id, name, age, arrival_date, departure_date, service, satisfaction]
Index: []

Duplicate by patient_id: 0

Empty DataFrame
Columns: [patient_id, name, age, arrival_date, departure_date, service, satisfaction]
Index: []

 STAFF — Duplicates
Exact duplicate rows: 0

Empty DataFrame
Columns: [staff_id, staff_name, role, service]
Index: []

Duplicate by staff_id: 0

Empty DataFrame
Columns: [staff_id, staff_name, role, service]
Index: []

 STAFF_SCHEDULE — Duplicates
Exact duplicate rows: 0

Empty DataFrame
Columns: [week, staff_id, staff_name, role, service, present]
Index: []

Duplicate by staff_id: 6552

   week      staff_id    staff_name    role    service  present
0     1  STF-b77cdc60  Allison Hill  doctor  emergency        1
1     2  STF-b77cdc60  Allison Hill  doctor  emergency        1
2     3  STF-b77cdc60  Allison Hill  doctor  emergency        0
3     4  STF-b77cdc60  Allison Hill  doctor  emergency        1
4     5  STF-b77cdc60  Allison Hill  doctor  emergency        1
5     6  STF-b77cdc60  Allison Hill  doctor  emergency        0
6     7  STF-b77cdc60  Allison Hill  doctor  emergency        1
7     8  STF-b77cdc60  Allison Hill  doctor  emergency        1
8     9  STF-b77cdc60  Allison Hill  doctor  emergency        0
9    10  STF-b77cdc60  Allison Hill  doctor  emergency        1

 SERVICES_WEEKLY — Duplicates
Exact duplicate rows: 0

Empty DataFrame
Columns: [week, month, service, available_beds, patients_request, patients_admitted, patients_refused, patient_satisfaction, staff_morale, event]
Index: []

----------------

Misaligned timestamps
--------

In [15]:
#Heuristic: time columns contain 'date', 'time', or 'timestamp'.
#We dont have any misaligned timestamps

import pandas as pd

def find_time_cols(df):
    pats = ("date", "time", "timestamp")
    return [c for c in df.columns if any(p in c.lower() for p in pats)]

for name, df in dfs.items():
    time_cols = find_time_cols(df)
    print(f"\n {name.upper()} — Timestamp checks ")
    print("Detected time columns:", time_cols)
    
    if not time_cols:
        print("No time-like columns detected.")
        continue
    
    for c in time_cols:
        parsed = pd.to_datetime(df[c], errors="coerce")
        unparsed_rows = df[parsed.isna()]
        backwards_rows = df.loc[parsed.diff().dt.total_seconds() < 0]
        
        print(f"\nColumn: {c}")
        print(f"Unparsed (invalid) timestamps: {len(unparsed_rows)}")
        display(unparsed_rows.head(10))
        print(f"Rows where time goes backwards (after sorting by original order): {len(backwards_rows)}")
        display(backwards_rows.head(10))

 PATIENTS — Timestamp checks
Detected time columns: ['arrival_date', 'departure_date']

Column: arrival_date
Unparsed (invalid) timestamps: 0

Empty DataFrame
Columns: [patient_id, name, age, arrival_date, departure_date, service, satisfaction]
Index: []

Rows where time goes backwards (after sorting by original order): 481

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
7,PAT-5b61868c,Ashley Waller,0,2025-05-21,2025-06-04,ICU,82
10,PAT-003ce690,Larry Dixon,29,2025-01-19,2025-01-21,ICU,60
13,PAT-95afe21e,Michelle Harmon,7,2025-02-24,2025-03-03,emergency,62
17,PAT-f0682772,Jason Powell,87,2025-09-12,2025-09-25,general_medicine,67
18,PAT-af65396f,Cameron Fisher,53,2025-08-27,2025-09-01,emergency,62
19,PAT-dbbf6d1f,Megan Orr,50,2025-04-02,2025-04-10,emergency,93
20,PAT-5e3f8747,Elizabeth Kelley,34,2025-03-29,2025-04-12,ICU,91
23,PAT-127ca40e,Daniel Kennedy,73,2025-06-10,2025-06-17,general_medicine,80

Column: departure_date
Unparsed (invalid) timestamps: 0

Empty DataFrame
Columns: [patient_id, name, age, arrival_date, departure_date, service, satisfaction]
Index: []

Rows where time goes backwards (after sorting by original order): 478

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
7,PAT-5b61868c,Ashley Waller,0,2025-05-21,2025-06-04,ICU,82
10,PAT-003ce690,Larry Dixon,29,2025-01-19,2025-01-21,ICU,60
13,PAT-95afe21e,Michelle Harmon,7,2025-02-24,2025-03-03,emergency,62
17,PAT-f0682772,Jason Powell,87,2025-09-12,2025-09-25,general_medicine,67
18,PAT-af65396f,Cameron Fisher,53,2025-08-27,2025-09-01,emergency,62
19,PAT-dbbf6d1f,Megan Orr,50,2025-04-02,2025-04-10,emergency,93
23,PAT-127ca40e,Daniel Kennedy,73,2025-06-10,2025-06-17,general_medicine,80
24,PAT-f70aeea1,Rebecca Jackson,18,2025-02-05,2025-02-18,ICU,77

 STAFF — Timestamp checks
Detected time columns: []
No time-like columns detected.

 STAFF_SCHEDULE — Timestamp checks
Detected time columns: []
No time-like columns detected.

 SERVICES_WEEKLY — Timestamp checks
Detected time columns: []
No time-like columns detected.

In [18]:
df_HBM_patients.dtypes

patient_id        object
name              object
age                int64
arrival_date      object
departure_date    object
service           object
satisfaction       int64
dtype: object

In [19]:
patients_ALOS_ED = df_HBM_patients[df_HBM_patients['service'] == 'emergency']
patients_ALOS_ED = patients_ALOS_ED[['patient_id', 'arrival_date', 'departure_date']]

patients_ALOS_ED['arrival_date'] = pd.to_datetime(patients_ALOS_ED['arrival_date'])
patients_ALOS_ED['departure_date'] = pd.to_datetime(patients_ALOS_ED['departure_date'])

patients_ALOS_ED['ALOS_days'] = (patients_ALOS_ED['departure_date'] - patients_ALOS_ED['arrival_date']).dt.days
patients_ALOS_ED.describe()

,arrival_date,departure_date,ALOS_days
count,263,263,263.000000
mean,2025-07-01 01:49:30.342205440,2025-07-08 05:39:28.060836608,7.159696
min,2025-01-02 00:00:00,2025-01-13 00:00:00,1.000000
25%,2025-03-25 00:00:00,2025-04-01 12:00:00,4.000000
50%,2025-06-30 00:00:00,2025-07-08 00:00:00,7.000000
75%,2025-09-29 00:00:00,2025-10-07 00:00:00,10.000000
max,2025-12-31 00:00:00,2026-01-10 00:00:00,14.000000
std,NaN,NaN,3.815043

--------------

## Explore CIA Global Statistical Database

In [17]:
df_CIA_demographics.sample(5)

NameError: name 'df_CIA_demographics' is not defined

In [ ]:
df_CIA_demographics.describe()

,Birth_Rate,Death_Rate,Net_Migration_Rate,Median_Age,Sex_Ratio,Infant_Mortality_Rate,Total_Fertility_Rate
count,228.000000,230.000000,229.000000,227.000000,227.000000,227.000000,227.000000
mean,26.361842,25.018565,3.657511,31.833480,1.004229,19.367665,11.292555
std,132.909844,187.367894,5.565715,9.236467,0.187592,18.431299,133.983614
min,5.800000,1.420000,-2.400000,14.800000,0.830000,1.500000,1.090000
25%,10.800000,5.702500,0.630000,24.050000,0.950000,5.755000,1.680000
50%,15.030000,7.255000,1.890000,31.700000,0.980000,12.000000,1.970000
75%,22.225000,9.100000,4.400000,39.500000,1.010000,28.525000,2.800000
max,2020.000000,2021.000000,45.800000,55.400000,3.340000,103.060000,2021.000000

In [ ]:
fig = px.bar(df_CIA_demographics, x="Country", y="Total_Population", color="Median_Age", color_continuous_scale='Viridis',
                   log_y=True,width=1500, height=800).update_xaxes(categoryorder="total descending")
fig.show()